body {
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
}

.login {
    font-size: 75%;
}

h1 {
    padding: 20px 70px 0px 100px;
}

.signup-container {
    height: 600px;
    margin-left: 25%;
    width: 40%;
    padding: 0px 50px 50px 15px;
    border-radius: 2%;
    margin-top: 10%;
    display: flex;
    gap: 6%;
    background-color: white;
}

.login p {
    color: gray;
}

.login a {
    text-decoration: none;

}

.signup input {}

.signup-container input {
    width: 95%;
    padding: 12px 16px;
    border-radius: 5px;
    border: solid 1px;

}

.signup-button {
    display: flex;
    justify-content: center;
}

.signup-button button {
    border: none;
    background-color: rgb(197, 12, 197);
    width: 75%;
    color: white;
    font-size: 1.2em;
    padding: 14px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.social-login {
    display: flex;
    gap: 10px;
}

.social-login .icon {
    width: 25px;
    height: 25px;
}

.social-login a {
    padding-left: 60px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    border: solid;
    border-color: rgb(252, 224, 224);
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.already-account {
    color: #666;
}

.already-account a {
    color: rgb(168, 8, 168);
    text-decoration: none;
    font-weight: bold;
}

.image-container img {
    height: 650px;
    padding: 0px 50px 50px 15px;
    border-bottom-right-radius: 65px;
}

.terms {
    display: flex;
    margin-left: -64%;
    margin-bottom: -5%;

}

#box {
    height: 20px;
    margin-top: 4%;

}

.terms p {
    margin-left: -35%;
}